<% function pageScripts (buf) { %>
	<script type="text/javascript" src="/js/my/post/index.js"></script>
<% }; %>
<% function pageContent (buf) { %>

	<div id="contents" ng-controller="MainCtrl">
		<p class="title">投稿画面</p>
	</div>

<% }; %>
<% include ../../layout %>

