<!DOCTYPE html>
<html lang="ja" ng-app="phomix">
	<head>
		<meta charset="utf8">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="language" content="jp">
		<meta name="keywords" content="game">
		<meta name="description" content="<%= description %>">
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="14 days">
		<meta name="msvalidate.01" content="A7F4598F15914A7C83FC056C3FEBE489">
		<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/common.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/development.css">
		<link rel="stylesheet" href="/js/lib/jquery-ui/jquery-ui.custom.css">
	</head>
	<body>
		<div id="page">
			<!-- ヘッダー-->
			<div id="header" ng-controller="header" >
				<div class="wrapper">
					<p class="logo">
						<a href="/">Phomix</a>
					</p>
					<ul class="menu display-none" id="js-menu">
						<li class="imgover">
							<a href="/dashboard/" class="icon icon-dashboard"></a>
							<a href="/dashboard/">ダッシュボード</a>
						</li>
						<li class="imgover">
							<a href="/post/" class="icon icon-post"></a>
							<a href="/post/">投稿</a>
						</li>
						<li class="imgover">
							<a href="{{userMenu.mypageUrl}}" class="icon icon-my"></a>
							<a href="{{userMenu.mypageUrl}}"> マイページ</a>
						</li>
					</ul>
					<div class="userMenu display-none" id="js-userMenu">
						<div class="inner">
							<a href="#"><img src="{{userMenu.userImagePath}}" alt="" width="30" height="30"><span>{{userMenu.userName}}</span> ▼</a>
						</div>
						<ul class="dropdown display-none">
							<li class="last">
								<a href="/settings/">プロフィール編集</a>
							</li>
							<li>
								<a href="/logout/">ログアウト</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- コンテンツ-->
			<div id="container">
				<% pageContent(buf) %>
			</div>
			<!-- フッター-->
			<div id="footer">
				<div class="bgLine">
					<div class="wrapper">
						<ul>
							<li>
								<a target="_blank" href="http://profile.ise-web.com/">Produced by Yoshitaka Ise&nbsp;&nbsp;|</a>
							</li>
						</ul>
						<p class="copyright">Copyright (C) ISE INC. All rights reserved.</p>
					</div>
				</div>
			</div>
			<p id="pagetop" style="bottom: -100px;">
				<a href="#wrap">PAGE TOP</a>
			</p>
		</div>
		<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-ui/jquery-ui.custom.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-plugins.js"></script>
		<script type="text/javascript" src="/js/lib/jsdeferred.js"></script>
		<script type="text/javascript" src="/js/lib/underscore.js"></script>
		<script type="text/javascript" src="/js/lib/angular.min.js"></script>
		<% for(var i=0,len=scripts.length; i<len; i++) { %>
			<script type="text/javascript" src="<%= scripts[i] %>"></script>
		<% } %>
		<% pageScripts(buf) %>
	</body>
</html>

