<% function pageScripts (buf) { %>
	<script type="text/javascript" src="/js/tag/index.js"></script>
<% }; %>
<% function pageContent (buf) { %>

	<div id="contents" ng-controller="MainCtrl">
		<p class="title">タグ別投稿一覧</p>
	</div>

<% }; %>
<% include ../layout %>

